.index{
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: #ffffff;
}
.head {
    display: flex;
    flex-wrap: wrap;
  }
  .head .title {
    font-family: "PingFang-SC-Regular";
    font-size: .9rem;
    color: #333333;
    margin-left: 1rem;
    font-weight: bold;
    position: relative;
    top: .1rem;
    left: 0;
  }
  .head .city {
    font-family: "PingFang-SC-Regular";
    font-size: .55rem;
    color: #333333;
    padding: .15rem .35rem;
    background-color: #efefef;
    line-height: 2rem;
    font-weight: 400;
  }
  .subject {
    margin: .9rem 0 .6rem 0;
    padding: 0 .8rem;
  }
  .subject .top_subject, .subject .bottom_subject {
    display: flex;
    justify-content: space-around;
  }
  .subject .square {
    margin-right: .6rem;
  }
  .subject .square img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .subject .zstz img, .subject .tgb img{
    width: 2.4rem;
    height: 2.4rem;
  }
  .subject .title {
    font-size: .6rem;
    font-family: 'PingFang-SC-Regular';
    color: #333333;
    text-align: center;
  }
  .subject .middle .title {
    padding-bottom: .4rem;
  }
  .line_y {
    width: 100%;
    height: .35rem;
    background-color: #efefef;
    margin: .55rem 0 .75rem 0; 
  }
  .hot_subject{
      margin-top: .75rem;
  }
  .hot_subject .title{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0.6rem;
  }
  .hot_subject .line, .select_title .line{
    display: inline-block;
    width: .2rem;
    height: .8rem;
    border-radius: .15rem;
    background-color: #2bb8ee;
    position: absolute;
    top: 20%;
    left: .5rem;
  }
  .hot_subject .text {
    margin-left: 0.55rem;
    font-family: 'PingFang-SC-Regular';
    font-size: .8rem;
    color: #333333;
  }
  .hot_subject .content {
    margin-top: .6rem;
    display: flex;
    flex-wrap: nowrap;
  }
  .hot_subject .content .img {
    margin-left: 0.4rem;
  }
  .hot_subject .content .img img {
    width: 6.15rem;
    height: 3.4rem;
  }
  .hot_subject .content .img p {
    font-size: .65rem;
    color: #333333;
    font-family: 'PingFang-SC-Regular';
  }
  .line1{
    width: 18.25rem;
    height: .35rem;
    margin-right: .95rem;
    margin-top: 1rem;
    background-color: #efefef; 
  }

.index .select{
  margin-top: .75rem;
}
.select_title{
  position: relative;
  margin-bottom: 1.05rem;
}
.select_title .go{
  position: absolute;
  top: .2rem;
  right: .3rem;
}
.select_title ul{
  display: flex;
  flex-wrap: wrap;
}
.select_title ul li{
  font-size: .8rem;
  margin-left: .65rem;
  position: relative;
  color: #333333;
}
.select_title ul li:first-child{
  margin-left: 1.1rem;
}
.select_content .content .top_lesson, .select_content .bottom_lesson{
  display: flex;
  justify-content: space-around;
}
.select_content .content {
  display: flex;
  flex-wrap: wrap;
}
.select_content .content .title{
  position: relative;
  padding-left: .35rem;
  margin-bottom: .6rem;
  width: 47%;
}

.select_content .content .title p{
  font-family: 'PingFang-SC-Regular';
  color: #333333;
  font-size: .65rem;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select .active{
  color: #2bb8ee;
}
.select_title .underline{
  font-family: 'PingFang-SC-Regular';
  display: inline-block;
  width: 1.55rem;
  height: .1rem;
  background-color: #2bb8ee;
  position: absolute;
  bottom: -0.3rem;
  left: .8rem;
}
.bottom_tip{
  text-align: center;
  margin: 1.1rem 0 3.5rem 0;
}
.bottom_tip .text{
  color: #999999;
  font-size: .6rem;
}
.test{
  display: flex;
  flex-wrap: wrap;
}