.head {
    /* margin-top: 1.4rem; */
    display: flex;
    flex-wrap: wrap;
  }
  .head .title {
    font-family: "PingFang-SC-Regular";
    font-size: .45rem;
    color: #333333;
    margin-left: .5rem;
    font-weight: bold;
    /* margin-right: .2rem; */
  }
  .head .city {
    font-family: "PingFang-SC-Regular";
    font-size: .275rem;
    color: #333333;
    padding: 0.075rem 0.175rem;
    background-color: #efefef;
    line-height: 1rem;
    font-weight: 400;
  }
  .banner {
    margin-top: 0.3rem;
  }
  .subject {
    margin-top: .475rem;
    margin-bottom: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    display: flex;
    flex-flow: wrap;
  }
  .subject .square {
    margin-right: .525rem;
  }
  .subject .img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .subject .title {
    /* width: 2.375rem;
      height: .575rem; */
    font-size: .3rem;
    font-family: 'PingFang-SC-Regular';
    color: #333333;
    text-align: center;
  }
  .subject .middle .title {
    padding: 0.425rem 0;
  }
  .subject .bottom .title {
    padding-top: 0.275rem;
  }
  .line_y {
    width: 9.375rem;
    height: .175rem;
    background-color: #efefef;
    margin: .275rem 0 .375rem 0; 
  }
  .hot_subject{
      margin-top: .375rem;
  }
  .hot_subject .title{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0.3rem;
  }
  .hot_subject .line, .select_title .line{
    display: inline-block;
    width: .1rem;
    height: .4rem;
    border-radius: .075rem;
    background-color: #2bb8ee;
    position: absolute;
    top: .1rem;
    left: .25rem;
  }
  .hot_subject .text {
    margin-left: 0.275rem;
    font-family: 'PingFang-SC-Regular';
    font-size: .4rem;
  }
  .hot_subject .content {
    margin-top: .3rem;
    display: flex;
    flex-wrap: nowrap;
  }
  .hot_subject .content .img {
    margin-left: 0.2rem;
  }
  .hot_subject .content .img img {
    width: 3.075rem;
    height: 1.7rem;
  }
  .hot_subject .content .img p {
    font-size: .325rem;
    color: #333333;
    font-family: 'PingFang-SC-Regular';
  }
  .line1{
    width: 9.125rem;
    height: .175rem;
    margin-right: .475rem;
    margin-top: .5rem;
    background-color: #efefef; 
  }

.select{
  margin-top: .375rem;
}
.select_title{
  position: relative;
}
.select_title .go{
  position: absolute;
  top: .1rem;
  right: .35rem;
}
.select_title ul{
  display: flex;
  flex-wrap: wrap;
}
.select_title ul li{
  font-size: .4rem;
  margin-left: .325rem;
  position: relative;
}
.select_title ul li:first-child{
  margin-left: .55rem;
}
.select_content .content{
  display: flex;
  flex-wrap: wrap;
}
.select_content .content .title{
  position: relative;
  padding-left: .275rem;
  margin: .3rem 0;
}
.select_content .content .title .img img{
  width: 4.275rem;
  height: 2.675rem;
}
.select_content .content .title span{
  font-family: 'PingFang-SC-Regular';
  color: #333333;
  position: absolute;
  bottom: -0.4rem;
  left: .3rem;
  font-size: .325rem;
}
.select .active{
  color: #2bb8ee;
}
.select_title .underline{
  font-family: 'PingFang-SC-Regular';
  display: inline-block;
  width: .775rem;
  height: .05rem;
  background-color: #2bb8ee;
  position: absolute;
  bottom: -0.075rem;
  left: .4rem;
}
.bottom_tip{
  margin: .55rem 0 1.75rem 0;
}
.bottom_tip .text{
  color: #999999;
  font-size: .3rem;
}