.schoolName{
    position: relative;
}
.schoolName .top {
	margin-top: 0.625rem;
	display: flex;
}
.schoolName .top img {
	width: 0.25rem;
	height: 0.325rem;
	margin-left: 0.425rem;
	margin: 0.15rem 0 0 0.3rem;
}
.schoolName .top .title {
	font-size: 0.45rem;
	color: #333333;
	margin-bottom: 0.3rem;
	flex-grow: 2;
}
.schoolName .top .btn {
	font-size: 0.375rem;
	color: #666666;
	margin: 0.05rem 0.3rem 0 0;
}
.schoolName .content{
    padding-right: 5%;
}
.schoolName .content .title{
    color: #333333;
    font-size: .45rem;
    width: 8.925rem;
    height: .675rem;
    background-color: #E7E7E7;
    text-align: left;
}
.schoolName .content .item{
    font-size: 0.375rem;
    border-bottom: 0.025rem solid #c2c2c2;
    text-align: left;
    padding: 0.45rem 0 0.4rem 0;
    margin-left: .325rem;
}
.schoolName .content ul li:last-child{
    border: 0 !important;
}
.schoolName .content img{
    width: .45rem;
    height: .3rem;
    float: right;
    padding-right: .15rem;
}
.schoolName .nav{
    width: .3rem;
    font-size: .3rem;
    line-height: .45rem;
    color: #2FB3F1;
    position: absolute;
    top: 23%;
    right: 1%;
}
.selected{
    color: #2fb3f1;
}