.PersonInfo .top{
    position: relative;
    margin-top: 1.25rem;
    border-bottom: .05rem solid #ECECEE;
}
.PersonInfo .top .icon-fanhui{
    position: absolute;
    top: .075rem;
    left: 1%;
    font-size: 1.1rem;
    color: #333333;
}
.PersonInfo .top p{
    font-size: .9rem;
    color: #333333;
    margin-bottom: .6rem;
    text-align: center;
}
.PersonInfo .head{
    display: flex;
    justify-content: space-between;
    border-bottom: .05rem solid #ECECEE;
    width: 97%;
    margin-left: 3%; 
    padding: .75rem 0 .45rem 0;
}
.PersonInfo .changeHead{
    margin-right: 3%;
}
.PersonInfo .head img{
    width: 2.7rem;
    height: 2.7rem;
}
.PersonInfo .head .changeHead p{
    font-size: .65rem;
    color: #999999;
    line-height: 2.65rem;   
}
.PersonInfo .head .changeHead .go{
    position: relative;
    top: .05rem;
    left: 0;
}
.PersonInfo .item{
    display: flex;
    justify-content: space-between;
    border-bottom: .05rem solid #ECECEE;
    width: 97%;
    margin-left: 3%;
}
.PersonInfo .item p{
    font-size: .75rem;
    color: #333333;
    padding: 1rem 0 .75rem 0;
}
.PersonInfo .item .change{
    margin-right: 3%;
}
.PersonInfo .item .change p{
    font-size: .65rem;
    color: #999999;
    line-height: .85rem;
}
.PersonInfo .item .change .go{
    position: relative;
    top: .05rem;
    left: 0;
}
.PersonInfo .grade{
    border: none;
}
.PersonInfo .line_info{
    margin: 0;
}
.line_y {
    width: 100%;
    height: .35rem;
    background-color: #efefef;
    margin: .55rem 0 .75rem 0; 
  }
/* 弹出层_头像修改 */
.choose_photo div{
    color: #2572E6;
    font-size: .8rem;
    text-align: center;
}
.choose_photo .choose div{
    /* border-radius: .25rem; */
    margin: 0 auto;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: .05rem solid rgba(153,153,153,.5);
}
/* 弹出层_性别选择 */
.choose_sex{
    width: 14.05rem;
    padding: 0 2%;
}
.choose_sex .sex{
    color: #333333;
    font-size: .9rem;
    border-bottom: .05rem solid #DADADA;
    padding: .9rem 0 .8rem 0; 
}
.choose_sex .img{
    display: flex;
    justify-content: space-around;
    border-bottom: .05rem solid #DADADA;
}
.choose_sex .img img{
    width: 3.1rem;
    height: 2.95rem;
    padding: .8rem 0 .7rem 0;
}
.choose_sex .text span{
    color: #333333;
    font-size: .8rem;
}
.choose_sex .text{
    display: flex;
    justify-content: space-around;
}
.choose_sex .text p{
    color: #333333;
    font-size: .8rem;
    padding: .6rem 2.62rem .75rem 2.7rem; 
}
.choose_sex .text .line{
    border-right: .05rem solid #DADADA;     
}